@use "sass:selector";

//Colors
$main-background: #121419;
$main-color: rgba(65, 105, 225, 1);
$white: white;
$second-background: rgba(87, 124, 255, 0.1);
$deactive-color: rgba(85, 99, 141, 1);
$green: rgba(55, 222, 144, 1);

//Variables
$max-width-contianer: 1200px;
$font-family: "IRANSansX";
